.orderContainer {
    margin: 0 auto;
    width: 90vw;
    position: relative;

    .topMenu {
        width: 100%;

        .topMenuTitle {
            text-align: center;
            font-size: 25px;
            font-weight: bold;
            margin-bottom: 30px;
        }

        .topMenuButton {
            width: 100%;
            display: flex;
            flex-direction: row;

            button {
                width: 50%;
                height: 40px
            }
        }

        .topMenuDate {
            margin-top: 20px;
            font-size: 20px;
            font-weight: bold;
        }
    }

    .orderList {
        margin-top: 30px;
        margin-bottom: 30px;

        .orderListItem {
            .orderTop {
                display: flex;
                flex-direction: row;

                .orderDate {
                    background-color: rgb(228, 228, 228);
                    margin-right: 15px;
                    margin-bottom: 20px;
                    text-align: center;
                    width: 15%;
                    display: flex;
                    flex-direction: column;
                    padding: 15px;

                    .orderDay {
                        font-size: 20px;
                        font-weight: bold;
                    }
                }

                .orderInfo {
                    width: 45%;
                    display: flex;
                    flex-direction: column;

                    .userAddress {
                        font-weight: bold;
                    }
                }

                .orderCurrentStatus {
                    width: 40%;
                    height: 35px;
                    border-radius: 20px;
                    padding: 5px;
                    text-align: center;
                    background-color: rgb(228, 228, 228);
                    color: white;
                }
            }

            .orderChangeStatus button {
                width: 90vw;
                background-color: #0088ff;
                color: white;
                border-radius: 15px;
            }
        }
    }

    .botBar {
        display: flex;
        flex-direction: row;
        width: 100%;
        position: absolute;
        top: 688px;

        .botBarItem {

            flex-grow: 0;
            flex-shrink: 0;
            width: 45vw;
            display: flex;
            flex-direction: column;
            text-align: center;
            align-items: center;
        }

    }
}