.coordinatorOverviewContainer {
    background-color: white;
    padding: 25px;
    margin: 30px 20px;
    box-shadow: 0px 10px 15px -4px rgba(0, 0, 0, 0.1);
    border-radius: 15px;
    h3 {
        display: flex;
        align-items: center;
        font-size: 30px;
        margin: 0;
        svg {
            margin-right: 10px;
        }
    }
    .coordinatorOverviewTilesContainer {
        margin: 30px 0px;
        display: grid;
        grid-template-columns: repeat(3, minmax(0, 1fr));
        gap: 30px;
        .coordinatorOverviewTile {
            background-color: rgb(223, 223, 223);
            display: flex;
            justify-content: space-between;
            padding: 20px;
            box-shadow: 0px 10px 15px 0px rgba(0, 0, 0, 0.1);
            border-radius: 15px;
            .left {
                span {
                    font-size: 30px;
                }
                .bigNumber {
                    font-size: 90px;
                    font-weight: bold;
                }
            }
            .right {
                svg {
                    font-size: 80px;
                    padding: 10px;
                    border: 1px solid black;
                    border-radius: 10px;
                }
            }
        }
    }
}

.coordinatorOrderListTableContainer {
    background-color: white;
    padding: 25px;
    margin: 30px 20px;
    box-shadow: 0px 10px 15px -4px rgba(0, 0, 0, 0.1);
    border-radius: 15px;
    .titleWrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;
        h3 {
            display: flex;
            align-items: center;
            font-size: 30px ;
            margin: 0;
            margin-bottom: 20px;
            svg {
                margin-right: 10px;
            }
        }
    }
}
