.orderDetailPersonalInfoContainer {
    margin-bottom: 30px;
    .orderDetailPersonalInfoFormTitle {
        display: flex;
        align-items: center;
        svg {
            margin-right: 10px;
        }
    }
    .orderDetailPersonalInfoItem {
        font-size: 17px;
        display: flex;
        align-items: center;
        margin-top: 10px;
        flex: 1;
        span {
            flex: 1;
            margin-right: 15px;
        }
    }
}
