.shippersTableContainer {
    background-color: white;
    padding: 25px;
    margin: 30px 120px;
    box-shadow: 0px 10px 15px -4px rgba(0, 0, 0, 0.1);
    border-radius: 15px;
    h3 {
        display: flex;
        align-items: center;
        font-size: 30px;
        margin: 0;
        svg {
            margin-right: 10px;
        }
    }
    .titleWrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 20px 0px;
        .modalWrapper {
            min-width: 500px;
            display: flex;
            justify-content: space-between;
        }
        .shipperTableAddEmployeeBtn {
            font-size: 17px;
            button {
                color: white;
                width: 100%;
                transition: all ease 0.2s;
            }
        }
    }
}
