.shopOwnerDashboardOverviewContainer {
    background-color: white;
    padding: 25px;
    margin: 30px 120px;
    box-shadow: 0px 10px 15px -4px rgba(0, 0, 0, 0.1);
    border-radius: 15px;

    h3 {
        display: flex;
        align-items: center;
        font-size: 30px;
        margin: 0;

        svg {
            margin-right: 10px;
        }
    }

    .shopOwnerOverviewTilesContainer {
        // margin: 30px 0px;
        display: flex;
        flex-direction: column;
        gap: 30px;

        .shopOwnerOverviewTile {
            background-color: rgb(223, 223, 223);
            display: flex;
            justify-content: space-between;
            padding: 20px;
            box-shadow: 0px 10px 15px 0px rgba(0, 0, 0, 0.1);
            border-radius: 15px;

            .left {
                span {
                    font-size: 17px;
                }

                .bigNumber {
                    margin-top: 15px;
                    font-size: 40px;
                    font-weight: bold;
                }
            }

            .right {
                svg {
                    font-size: 40px;
                    padding: 10px;
                    border: 1px solid black;
                    border-radius: 10px;
                }
            }
        }
    }
}

.shopOwnerOrderListTableContainer {
    background-color: white;
    padding: 25px;
    margin: 30px 120px;
    box-shadow: 0px 10px 15px -4px rgba(0, 0, 0, 0.1);
    border-radius: 15px;

    h3 {
        display: flex;
        align-items: center;
        font-size: 30px;
        margin: 0;
        margin-bottom: 20px;

        svg {
            margin-right: 10px;
        }
    }

    .titleWrapper {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
}