.adminOverviewContainer {
  display: flex;
  flex-direction: column;
  .adminOverviewTilesContainer {
    padding: 20px 20px;
    background-color: white;
    padding: 25px;
    margin: 30px 20px;
    box-shadow: 0px 10px 15px -4px rgba(0, 0, 0, 0.1);
    border-radius: 15px;
    justify-content: space-between;
    .adminOverviewSumSale {
      h3 {
        display: flex;
        align-items: center;
        font-size: 30px;
        margin: 0;
        margin-bottom: 20px;
        svg {
          margin-right: 10px;
        }
      }
      .adminOverviewWrap {
        display: flex;
        justify-content: space-between;
        .profitChartWrapper {
          width: 700px;
        }
        .adminOverviewStatistic {
          display: flex;
          flex-direction: column;
          gap: 20px;
          .adminStatisticOrders {
            display: flex;
            justify-content: space-between;
            .adminStatisticOrder {
              background-color: rgb(223, 223, 223);
              display: flex;
              justify-content: space-between;
              padding: 20px;
              box-shadow: 0px 10px 15px 0px rgba(0, 0, 0, 0.1);
              border-radius: 15px;
              width: 260px;
              .left {
                span {
                  font-size: 20px;
                }
                .bigNumber {
                  font-size: 60px;
                  font-weight: bold;
                }
              }
              .right {
                svg {
                  font-size: 60px;
                  padding: 10px;
                  border: 1px solid black;
                  border-radius: 10px;
                }
              }
            }
            .adminStatisticOrder:nth-child(2) {
              margin-left: 20px;
            }
          }
          .adminStatisticSale {
            background-color: rgb(223, 223, 223);
            display: flex;
            justify-content: space-between;
            padding: 20px;
            box-shadow: 0px 10px 15px 0px rgba(0, 0, 0, 0.1);
            border-radius: 15px;
            .left {
              span {
                font-size: 20px;
              }
              .bigNumber {
                font-size: 60px;
                font-weight: bold;
              }
            }
            .right {
              svg {
                font-size: 60px;
                padding: 10px;
                border: 1px solid black;
                border-radius: 10px;
              }
            }
          }
        }
      }
    }
  }
  .adminListTableContainer {
    background-color: white;
    padding: 25px;
    margin: 30px 20px;
    box-shadow: 0px 10px 15px -4px rgba(0, 0, 0, 0.1);
    border-radius: 15px;
    h3 {
      display: flex;
      align-items: center;
      font-size: 30px;
      margin: 0;
      margin-bottom: 20px;
      svg {
        margin-right: 10px;
      }
    }
    .titleWrapper {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
  }
}
